.container {
  padding-top: 90px;
  max-width: 90%;
  margin: 0 auto;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countryList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  .topBar {
    flex-direction: column;
    align-items: flex-start;
  }
}
